
html,body{
    margin: 0;
    height:100vh;
    width: 100%;
    
}
 .container {
    margin-top:0px;
    height: 100%;
    
    z-index: 0;
   }
.middle{ 
    margin-top:0px;
    
    background-size: cover;
    background-position: center center;
    
    height: 100%;
    width:100%;
    display: relative ;
    z-index: -2;
}
.work{
    display: relative;
    z-index: 10;
    opacity: 0.4;
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 60%;
    background-color: rgb(74, 148, 233);
    visibility: hidden;
    
}
.africa{
    width: 30%;
    height: 80%;
    background-size: cover;
    background-position: center center;
    margin: auto;
    border-radius: 100%;
}
.middle:hover .work {
    visibility: visible;
    transition-delay: 0s;
    
}
.middle:hover {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 0s;
}