{% extends '../base/base.html' %}
{% block freezy %}
<div class="container">
    <div class="middle" style="background-image: url(/pages/static/images/mtlogo.png); ">
 
    </div>
    <div class="work">
        the vast potential in africa can be turned so fast to tangible result if we decide to, it is on this premise that 
        young innovators have been given this power to transform and the platform to innovate in order to 
        solve the critical problems facing our continent. 
        by diving deeply on the perennial problems that have led to the constant marginalisation and economic degradation 
        of our people, we have decided to bring our focus on solving these challenges and illuminating light across africa 

    </div>

</div>

    {% endblock %}