{% extends '../base/base.html' %}
{% block freezy %}
<div class="container">
    <div class="middle" style="background-image: url(/pages/static/images/mtlogo.png); ">
 <div class="work">
        The untapped potential in Africa can swiftly materialize into tangible outcomes
         if we collectively commit to action. It is upon this foundation that we empower
          young innovators with the tools and platforms necessary
         to effect transformation and innovation. Our goal is to address the pressing 
         challenges that have perpetuated the continual marginalization and economic downturn in our continent.

By immersing ourselves in the core issues that have hindered progress and prosperity,
 we have dedicated our focus to devising solutions. Through this concentrated effort, 
 we aim to not only tackle these challenges but also to illuminate a path forward, 
 casting a beacon of hope and progress across the African landscape. 
<div class="africa"style="background-image: url(/pages/static/images/africatech1.jpg); "></div>
    </div>
    </div>
    

</div>

    {% endblock %}